.hero-image {
  text-align: center;
  font-size: 50px;
  border-style: none;
  padding-top: 60px;
  padding-right: 15px;
  padding-bottom: 80px;
  padding-left: 15px;
  color: white;
  background-image: url("../images/commonwealth.jpg");
}
.hero-image h1{
  font-family: 'Freshman';
  font-size: 60px;
  color: white;
}
@font-face{
  font-family: 'Freshman';
  src: url('../fonts/Freshman.ttf');
}
.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.banner {
  text-align: center;
  font-size: 15px;
  min-height: 18px;
  background-color: white;
  color: #0033a0;
  font-family: 'Freshman';
}

.artists {
  padding-top: 30px;
  min-height: 450px;
}
.artists h1{
    font-size: 30px;
    font-family: 'Freshman';
      text-decoration: underline;
}
.info-images {
  text-align: center;
  min-height: 260px;
  padding-bottom: 15px;
}

.info p {
  background-color: white;
  padding: 6px;
}

.parking h1 {
  text-decoration: underline;
  font-size: 30px;
  font-family: 'Freshman';

}
.parking-image {
  text-align: center;
  min-height: 370px;
}

.social-media {
  text-align: center;
  font-size: 15px;
  min-height: 125px;
  background-color: #0033a0;
  color: white;
  padding-bottom: 15px;
}
.social-media img {
  padding-right: 20px;
}

.sponsors {
  padding-top: 20px;
  text-align: center;
  min-height: 175px;
}
.sponsors img {
  padding-top: 10px;
  padding-right: 20px;
}

/* Insert Slideshow styling here */
/*The slideshow and jss classes were exported from http://www.jssor.com/demos/simple-fade-slideshow.slider*/
/*Alterations were made to the code to get the images in their correct format*/
.spacing{
  padding-top: 50px;
}

.SlideShow img{
  padding:0px;
  margin:0px;
  font-family:'Open Sans',sans-serif,arial,helvetica,verdana;
  background-clip: padding-box;
  z-index: 0;
}

.slides{
  cursor:default;
  position:relative;
  width:100%;
  height:100%;
  overflow:hidden;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
/* jssor slider bullet navigator skin 05 css */
/*
.jssorb05 div           (normal)
.jssorb05 div:hover     (normal mouseover)
.jssorb05 .av           (active)
.jssorb05 .av:hover     (active mouseover)
.jssorb05 .dn           (mousedown)
*/
.jssorb05 {
    position: absolute;
}
.jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
    position: absolute;
    /* size of bullet elment */
    width: 16px;
    height: 16px;
    background: url('../images/b05.png') no-repeat;
    overflow: hidden;
    cursor: pointer;
}
.jssorb05 div { background-position: -7px -7px; }
.jssorb05 div:hover, .jssorb05 .av:hover { background-position: -37px -7px; }
.jssorb05 .av { background-position: -67px -7px; }
.jssorb05 .dn, .jssorb05 .dn:hover { background-position: -97px -7px; }

/* jssor slider arrow navigator skin 12 css */
/*
.jssora12l                  (normal)
.jssora12r                  (normal)
.jssora12l:hover            (normal mouseover)
.jssora12r:hover            (normal mouseover)
.jssora12l.jssora12ldn      (mousedown)
.jssora12r.jssora12rdn      (mousedown)
*/
.jssora12l, .jssora12r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 30px;
    height: 46px;
    cursor: pointer;
    background: url('../images/a12.png') no-repeat;
    overflow: hidden;
}
.jssora12l { background-position: -16px -37px; }
.jssora12r { background-position: -75px -37px; }
.jssora12l:hover { background-position: -136px -37px; }
.jssora12r:hover { background-position: -195px -37px; }
.jssora12l.jssora12ldn { background-position: -256px -37px; }
.jssora12r.jssora12rdn { background-position: -315px -37px; }
